<!--CONTACT-->
<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>Contacto</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** PAGES MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="@Url.Action("Termcondition","Home")">Términos y Condiciones</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Home")">Contactos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Faq","Home")">FAQ</a>
                        </li>

                    </ul>

                </div>
            </div>

            <!-- *** PAGES MENU END *** -->


            <!--
        <div class="banner">
        <a href="#">
            <img src="~/img/banner.jpg" alt="sales 2014" class="img-responsive">
        </a>
    </div>
    -->

        </div>

        <div class="col-md-9">


            <div class="box" id="contact">
                <h1>Contacto</h1>

                <p class="lead">¿Estás interesado en algo? ¿Tiene algún tipo de problema con nuestros productos?</p>
                <p>nuestro centro de servicio de cliente está trabajando para usted 24/7.</p>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <h3><i class="fa fa-map-marker"></i> Dirección</h3>
                        <p>
                            av. Mariscal Caceres 450
                            <br>Ayacucho
                            <br>Huamanga
                            <br>
                            <strong>Peru</strong>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-phone"></i> Central de Llamadas</h3>
                        <p>
                            <strong>+066 41 5896</strong>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-envelope"></i>Soporte Electrónico</h3>
                        <p class="text-muted">Por favor, no dude en escribirnos un correo electrónico</p>
                        <ul>
                            <li>
                                <strong><a href="mailto:">alfredeveloper@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-sm-4 -->
                </div>
                <!-- /.row -->

                <hr>

                <div id="map" style="text-align:center; border:dashed">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3885.1202994944456!2d-74.225361!3d-13.154811!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1501554448589" width="775" height="393" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <hr>
                <h2>Formulario de Contacto</h2>

                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">Nombres</label>
                                <input type="text" class="form-control" id="firstname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">Apellidos</label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Correo</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="subject">Tema</label>
                                <input type="text" class="form-control" id="subject">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">Mensaje</label>
                                <textarea id="message" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Enviar mensaje</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>


            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

<script>
    /*
    function initialize() {
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(49.1678136, 16.5671893),
                mapTypeId: google.maps.MapTypeId.ROAD,
                scrollwheel: false
            }
            var map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

            var myLatLng = new google.maps.LatLng(49.1681989, 16.5650808);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        */
</script>

