@model List<Ornamentals_Project.Models.PedidoDetalle>

@{
    ViewBag.Title = "PedidoDetalles";
}

<h2>PedidoDetalles</h2>

<table class="table">
    <tr>
        <th>
            PedidoId
        </th>
        <th>
            ProductoId
        </th>
        <th>
            Cantidad
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Precio)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Existencias)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Activo)*@
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Precio)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Existencias)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Activo)*@
            </td>
            <td>
                @Html.ActionLink("Ver Producto", "Producto", new { id = item.ProductoId }) 
                @*@Html.ActionLink("Finalizado", "Details"*@@*, new { id = item.ProductoId }*@
                @*@Html.ActionLink("Detalles", "PedidoDetalles", new { id = item.PedidoId })*@

            </td>
        </tr>
    }
</table>
<div>
    <button  class="btn btn-danger" onclick="volver();">Volver</button>
</div>
